/***** NAVBAR *****/  

.colormenu{
    background-color: rgb(21, 2, 109);

}

.texto-blanco{

  color: white;
}

/***** FOOTER *****/ 
.footer {
  background-color: rgb(21, 2, 109);
  padding: 1em 0;
  width: auto;
  height: auto;
}
.footer-text {
  font-size: 14px; /* Tamaño de fuente para los párrafos */
}
.footer-small {
  font-size: 10px; /*Tamaño de fuente para el texto pequeño*/
  text-align: center;
  margin-left: 50px;
}
.social-link  {
  margin-right: 30px; /*Separación entre los iconos*/
}
